{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
  <header>
    <h1>About Our Company</h1>
  </header>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AaK0AKQFCNY?si=B_vWi5RsMWGwC4wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <section>
    <h2>Company History</h2>
    <p>
      Our pet product selling company was founded in 2005 with a mission to provide high-quality and innovative products for pets. Over the years, we have grown into a trusted brand in the pet industry, serving thousands of satisfied customers worldwide.
    </p>
  </section>

  <section>
    <h1>Company Requisites</h1>
    <ul itemscope itemtype="https://schema.org/Organization">
        <li><strong>Name:</strong> <span itemprop="name">Pets Love Company</span></li>
        <li><strong>Location:</strong> <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality">City</span>, <span itemprop="addressRegion">State</span>, <span itemprop="addressCountry">Country</span></span></li>
        <li><strong>Contact:</strong> <a href="tel:+123456789" itemprop="telephone">+1 (234) 567-89</a></li>
        <li><strong>Email:</strong> <a href="mailto:info@petproductcompany.com" itemprop="email">info@petslovecompany.com</a></li>
        <li><strong>Website:</strong> <a href="https://www.petproductcompany.com" itemprop="url">www.petslovecompany.com</a></li>
    </ul>
  </section>

  <footer>
    <p>&copy; 2023 Pets Love. All rights reserved.</p>
  </footer>
</body>

{% endblock %}


