{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<header>
    <img src="/media/logo.jpg" alt="logo not found" height="100">
    <h1>PetsLove</h1>
</header>
<nav>
    <div id="main-header">
    	<a href="/" class="logo">Home</a>
        <a href="/list_products">Products</a>
        {%if not user.is_staff%}
        <a href="/cart/" class="logo">Cart</a>
        {% endif %}
        <a href="/about_company">About us</a>
        <a href="/news">News</a>
        <a href="/faq">FAQ</a>
        <a href="/privacy_policy">Privacy policy</a>
    </div>
    <div id="subheader">
        <div class="user-log">
            {% if user.is_authenticated %}
            Hello, {{ user.username }}!
            <a href="{% url 'login:logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'login:signup' %}">Sign up</a>
            <a href="{% url 'login:signin' %}">Sign in</a>
            {% endif %}
        </div>
    </div>

</nav>
<div class="time">
        Current date <span id='date'></span>
        <br>
        Current time <span id='time'></span>
        <br>
        Current time zone <span id='zone'></span>
        <br>
        <script>
            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1;
            let dd = today.getDate();
            let h = today.getHours();
            if (h < 10)
                h = '0' + h;
            let min = today.getMinutes();
            if (min < 10)
                min = '0' + min;
            let sec = today.getSeconds();
            if (sec < 10)
                sec = '0' + sec;

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            let formattedToday = dd + '/' + mm + '/' + yyyy;
            let time = h + ":" + min + ":" + sec;
            let tz = -(new Date().getTimezoneOffset() / 60);
            if (tz > 0) {
                tz = "+" + tz;
            }
            tz = "UTC" + tz;
            document.getElementById('date').innerHTML = formattedToday;
            document.getElementById('time').innerHTML = time;
            document.getElementById('zone').innerHTML = tz;
        </script>
</div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</html>
