{% extends "base.html" %}
{% load static %}
{% block content %}
    <img src="media/optimanova_banner.png">
    <div>
        <h2>Our partners</h2>
        <a href="https://www.purina.ru/"><img src="media/Purina_Logo.png" alt="purina" height="100"></a>
        <a href="https://sheba.ru/"><img src="media/Sheba_Logo.png" alt="purina" height="100"></a>
        <a href="https://chappi.ru/"><img src="media/Chappi_Logo.png" alt="purina" height="100"></a>
        <a href="https://www.whiskas.co.uk/"><img src="media/Whiskas_Logo.png" alt="purina" height="100"></a>
    </div>
{% endblock %}