{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <img src="media/optimanova_banner.png">
    </div>
    <div id="sidebar">
        <h3>Providers</h3>
        <ul>
            <li>
                <a href="{% url "shop:list_products" %}">All</a>
            </li>
            {% for p in providers %}
                <li >
                    <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h2>Products</h2>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
    <div>
        <h3>Our partners</h3>
        <a href="https://www.purina.ru/"><img src="media/Purina_Logo.png" alt="purina" height="100"></a>
        <a href="https://sheba.ru/"><img src="media/Sheba_Logo.png" alt="purina" height="100"></a>
        <a href="https://chappi.ru/"><img src="media/Chappi_Logo.png" alt="purina" height="100"></a>
        <a href="https://www.whiskas.co.uk/"><img src="media/Whiskas_Logo.png" alt="purina" height="100"></a>
    </div>
{% endblock %}
